{% csrf_token %}
{{ form.as_p }}
{% if tipo == 'aerogravimetria' %}
    <div>
        <label for="anomalia_aire_libre">Anomalía de Aire Libre</label>
        <input type="text" class="adjust-width" id="anomalia_aire_libre" name="anomalia_aire_libre" placeholder="Nombre de la variable en el archivo">
    </div>
    <div>
        <label for="correcion_aire_libre">Corrección de Aire Libre</label>
        <input type="text" class="adjust-width" id="correcion_aire_libre" name="correcion_aire_libre" placeholder="Nombre de la variable en el archivo">
    </div>
    <div>
        <label for="longitud">Longitud</label>
        <input type="text" class="adjust-width" id="longitud" name="longitud" placeholder="Nombre de la variable en el archivo">
    </div>
    <div>
        <label for="latitud">Latitud</label>
        <input type="text" class="adjust-width" id="latitud" name="latitud" placeholder="Nombre de la variable en el archivo">
    </div>
    <div>
        <label for="fecha">Fecha de captura</label>
        <input type="date" class="adjust-width" id="fecha" name="fecha" placeholder="Fecha de captura">
    </div>

    <div>
        <label for="alt_h_c">Altitud cruda del avión</label>
        <input type="text" class="adjust-width" id="alt_h_c" name="alt_h_c" placeholder="Nombre de la variable en el archivo">
    </div>

    <div>
        <label for="alt_h_a">Altitud ajustada del avión</label>
        <input type="text" class="adjust-width" id="alt_h_a" name="alt_h_a" placeholder="Nombre de la variable en el archivo">
    </div>

    <div>
        <label for="original_id">Nomenclatura de los puntos</label>
        <input type="text" class="adjust-width" id="original_id" name="original_id" placeholder="Nombre de la variable en el archivo">
    </div>

    <div>
        <label for="radar">Altimetría de radar</label>
        <input type="text" class="adjust-width" id="radar" name="radar" placeholder="Nombre de la variable en el archivo">
    </div>

    <div>
        <label for="linea">Línea</label>
        <input type="text" class="adjust-width" id="linea" name="linea" placeholder="Nombre de la variable en el archivo">
    </div>


{% endif %}